<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input autocapitalize="on" [(ngModel)]="equipe.nome" name="nome" ></ion-input>
    </ion-item>
    <ion-item class="ion-padding"> 
      <ion-label>Funcionários</ion-label>

      <ion-infinite-scroll threshold="100px">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Buscando mais registros..."
        >
        <div
        *ngFor="let funcionario of funcionarios" 
        >
        <ion-item 
        button
        (click)="onSelectChange(funcionario)"
        [color]="funcionario.checked?'secondary':''"
                  >
                    {{funcionario.nome}}
                  </ion-item>
                </div>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
      

    </ion-item>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="salvar">
              <div class="ion-margin-vertical">
                <ion-button type="submit" color="primary" expand="block">
                  <ion-icon slot="start" name="save" ></ion-icon>
                  Salvar</ion-button>
              </div>
        </ion-tab-button>
        <ion-tab-button tab="salvar">
              <div class="ion-margin-vertical">
                <ion-button type="button" color="secondary" expand="block" (click)="limparFormulario()">
                  <ion-icon slot="start" name="close-outline" ></ion-icon>
                  Limpar</ion-button>
              </div>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </form>
</ion-content>
