<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }} - Selecione um Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let itemServico of itensServicos">
      <ion-label>{{itemServico.servicoNome}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="itemServico.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-content>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button>
                <div class="ion-margin-vertical">
                  <ion-button type="button" color="primary" expand="block" (click)="irParaNaoConformidades()">
                    <ion-icon slot="start" name="alert-circle-outline" ></ion-icon>
                    Não conformidade</ion-button>
                </div>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>